<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hostMainViewController</key>
	<dict>
		<key>item1</key>
		<dict>
			<key>item1</key>
			<string>THOIMMainViewController</string>
			<key>item2</key>
			<string>thomas</string>
			<key>item3</key>
			<string>meng</string>
		</dict>
	</dict>
</dict>
</plist>
